





<div id="msg" class="container pb-5  " style="overflow:scroll; background-color: #DBD5CE; height: 70vh">

 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>

   <% if user.id == current_user.id %>

   
<div class="text-right p-1 rounded  mt-4" > 
<span style="background-color: #E1F6CB;" class="p-3 rounded mt-2">
  <% else %>

<div class=" text-left p-1 rounded  mt-4"  >
<span style="background-color: #FFFFFF" class="p-3 rounded mt-2">
  <% end %>
<strong>  <%= user.name %> </strong>: <%= message.body %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <small class="text-muted " ><%= message.created_at.strftime("%l:%M%p") %> </small> 
</span>
</div>

 <% end %>
<% end %>

</div>

<div class="col mt-2">
<%= form_for [@conversation, @message], remote: true do |f| %>
<div class="form-group">
  <%= f.text_area :body, class: "form-control", id: "message_content", placeholder:"Say Something ..." %>
</div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
<div class="form-group">
  <%= f.submit "Send Reply", class: "form-control btn btn-primary" %>
</div>
<% end %>
</div>
</div>


<script>
var objDiv = document.getElementById("msg");
objDiv.scrollTop = objDiv.scrollHeight;


</script>