




<div id="msg" class="container text-center border">



 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   
<div >
<strong><%= user.name %> </strong>: <%= message.body %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small class="text-muted border" ><%= time_ago_in_words(message.created_at) %> ago</small> 
</div>
   
   <strong></strong>

 <% end %>
<% end %>

</div>

<div class="col mt-5">
<%= form_for [@conversation, @message], remote: true do |f| %>
<div class="form-group">
  <%= f.text_area :body, class: "form-control", id: "message_content", placeholder:"Say Something ..." %>
</div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
<div class="form-group">
  <%= f.submit "Send Reply", class: "form-control btn btn-primary" %>
</div>
<% end %>
</div>
</div>