<div class="row d-flex justify-content-around">

	<div class="col-sm-6">
		<img class="img-fluid" src="https://raw.githubusercontent.com/kevinngth/traveller-guide-app/master/public/login-banner.jpg"/>
	</div>

	<div class="col-sm-6 text-center">
		<h1 class="display-4">Log in</h1>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

			  <div class="form-group row">
			    <%= f.label :email, :class => 'col-3 col-form-label' %><br />
			    <div class="col-9">
			    	<%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control-plaintext bg-light border rounded-pill" %>
			  	</div>
			  </div>


			  <div class="form-group row">
			    <%= f.label :password, :class => 'col-3 col-form-label' %><br />
			    <div class="col-9">
			    	<%= f.password_field :password, autocomplete: "current-password", :class => "form-control-plaintext bg-light border rounded-pill" %>
			  	</div>
			  </div>

			  <% if devise_mapping.rememberable? %>
			    <div class="form-group">
			      <%= f.check_box :remember_me %>
			      <%= f.label :remember_me %>
			    </div>
			  <% end %>

			  <div class="actions">
			    <%= f.submit "Log in", {:class => "btn btn-success btn-block mb-4 rounded-pill"} %>
			  </div>
			<% end %>

			<%= render "users/shared/links" %>
	</div>
</div>