<%= form_with scope: :travellers, url: '/travellers/searchresults', local:true do %>
	  <p>
	   <%= text_field_tag :search, params[:search], placeholder: 'location', :required=> true, :class=>'form-control', :id=>'search_term'%>
	  </p>



<div class="dropdown">
  <button class="btn btn-block btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <%@categories.each do |category|%>
   		     <li>
                <div class="checkbox">
                    <label>
				  <input type="checkbox" value = "<%=category.id%>" name = "experience[category_ids][]">
                        <%=category.name%>
                    </label>
                </div>
            </li>
     <%end%>
  </div>
</div>


	 <%= submit_tag "New Search", :name=>nil, class: 'btn btn-success btn-block' %>


	<% end %>

	<script type = "text/javascript">
		let searchBar = document.getElementById('search_term')
		var responseHandler = function() {
		new google.maps.places.Autocomplete(searchBar, {types: ['(cities)']})
		};

		// make a new request
		var request = new XMLHttpRequest();

		// listen for the request response
		request.addEventListener("load", responseHandler);

		var url = "";
		request.open("GET", url);

		// send the request
		request.send();

	</script>

<script src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDvj3ORRNNhdf-Yv8R8AHZjqX_jHcnrxqo&&libraries=places'></script>