<div style="height: 720px" class="d-flex justify-content-center align-items-center">
<div class="row">

	<div class="col-12">
		<h3 class="display-4"><span style="color: rgba(255,255,255,.7);">Where are you going, <%= @name %>?</span></h3>
	</div>

</div>
<div class="row">

	<div class="col-12">
		<%= form_with scope: :travellers, url: '/travellers/searchresults', local:true do %>

		  <p>
		   <%= text_field_tag :search, params[:search], placeholder: 'location', :required=> true, :class=>'form-control', :id=> 'search_term'%>
		  </p>

			<div class="mb-2 text-white">
		  	<%@categories.each do |category|%>
			  	<div style = "margin-left: 10px">
					  <input type="checkbox" value = "<%=category.id%>" name = "experience[category_ids][]">
					  <span><%=category.name%></span>
					</div>
				<%end%>
			</div>

			<%= submit_tag "Find Guide", :name=>nil, class: 'btn btn-success btn-block' %>

		<% end %>
	</div>

	</div>
	</div>
<script type="text/javascript">
	console.log('yay!')
	document.body.style.background = "url(https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80) no-repeat center center fixed"
	document.body.style["background-size"] = "cover"
	console.log('wow')
</script>
	<script type = "text/javascript">
		searchBar = document.getElementById('search_term')
		var responseHandler = function() {
		new google.maps.places.Autocomplete(searchBar, {types: ['(cities)']})
		};

		// make a new request
		var request = new XMLHttpRequest();

		// listen for the request response
		request.addEventListener("load", responseHandler);

		var url = "";
		request.open("GET", url);

		// send the request
		request.send();

	</script>

<script src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDvj3ORRNNhdf-Yv8R8AHZjqX_jHcnrxqo&&libraries=places'></script>