<div class = "container">
	<div class = "jumbotron" style = "background-image: url(https://picsum.photos/id/1002/4310/2860); background-size: cover; background-repeat: no-repeat; height:100%">
	</div>

	<div>
	<h3>Where are you going, <%=@name%>?</h3>


	<%= form_with scope: :travellers, url: '/travellers/findguide', local:true do %>
	  <p>
	   <%= text_field_tag :search, params[:search], placeholder: 'location', :required=> true%>
	  </p>

	     <p>
	   <table>
		    <%@categories.each do |category|%>
		 <tr>
		    <td>
		  <input type="checkbox" value = "<%=category.id%>" name = "experience[category_ids][]"><%=category.name%>
		    </td>
		</tr>

		<%end%>
		</table>
		  </p>

	 <%= submit_tag "Find Guide", :name=>nil, class: 'btn btn-success' %>


	<% end %>
	</div>
</div>