<div style="height: 720px" class="d-flex justify-content-center align-items-center">


<div class = "container">
<div class="col-12">
		<p class = "display-3" style="color: rgba(255,255,255,.7); text-align:center">Where are you going, <%= @name %>?</p>
	</div>






	<div class="col-12">
		<%= form_with scope: :travellers, url: '/travellers/searchresults', local:true do %>
		 	<div class="container border" style = "background-color: white">
		 		<div class = "row">
				  <div class="col-10">
				   <%= text_field_tag :search, params[:search], placeholder: 'location', :required=> true, :class=>'form-control', :id=> 'search_term'%>
				  </div>
			  	<div class="col-2">
			  	<%= button_tag type: 'submit', :name=>nil, class: "btn" do %>
			  		<i class="fas fa-search"></i>
			  	<%end%>
			  	</div>
		  	</div>
		  </div>

			<div class="mb-2 text-white container">
				<div class = "row">
		  	<%@categories.each do |category|%>
			  	<div style = "margin-left: 10px" class = "col-3">
					  <input type="checkbox" value = "<%=category.id%>" name = "experience[category_ids][]">
					  <span><%=category.name%></span>
					</div>
				<%end%>
			</div>
			</div>



		<% end %>
	</div>
</div>



	</div>
<script type="text/javascript">
	console.log('yay!')
	document.body.style.background = "url(https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80) no-repeat center center fixed"
	document.body.style["background-size"] = "cover"
	console.log('wow')
</script>
	<script type = "text/javascript">
		searchBar = document.getElementById('search_term')
		var responseHandler = function() {
		new google.maps.places.Autocomplete(searchBar, {types: ['(cities)']})
		};

		// make a new request
		var request = new XMLHttpRequest();

		// listen for the request response
		request.addEventListener("load", responseHandler);

		var url = "";
		request.open("GET", url);

		// send the request
		request.send();

	</script>

<script src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDvj3ORRNNhdf-Yv8R8AHZjqX_jHcnrxqo&&libraries=places'></script>