
<div class = "jumbotron d-flex justify-content-space-between" style = "background-image: url(https://picsum.photos/id/1002/431/286); background-size: cover; background-repeat: no-repeat; height:100%">


<div>
	<h3 style = "color:white">Where are you going, <%=@name%>?</h3>
</div>
	<div>
	<%= form_with scope: :travellers, url: '/travellers/createsearch', local:true do %>
	  <p>
	   <%= text_field_tag :search, params[:search]%>
	  </p>

	     <p>
	   <table>
		    <%@categories.each do |category|%>
		 <tr>
		    <td style = "color:white">
		  <input type="checkbox" value = "<%=category.id%>" name = "experience[category_ids][]"><%=category.name%>
		    </td>
		</tr>

		<%end%>
		</table>
		  </p>

	  <p><%= submit_tag "Find Guide", :name=>nil %>

	  </p>
	<% end %>
	</div>
</div>