<div style="height: 720px" class="d-flex justify-content-center align-items-center">


<div class = "container">
<div class="col-12">
		<p class = "display-3" style="color: rgba(240,240,240,.9); text-align:center">Where are you going, <%= @name %>?</p>
	</div>

	<div>
		<div class="">
		<%= form_with scope: :travellers, url: '/travellers/searchresults', local:true do %>
		 	<div class="container col-md-12 col-sm-10 rounded" style = "background-color: white; border-radius: 5px">
		 		<div class = "row">
		 			<div class = "col-1">
		 			</div>
				  <div class="col-10">
				   <%= text_field_tag :search, params[:search], placeholder: 'location', :required=> true, :class=>'form-control', :id=> 'search_term', style: 'border:none; text-align:center;', autofocus: true %>
				  </div>
			  	<div class="col-1 pl-0">
			  	<%= button_tag type: 'submit', :name=>nil, class: "btn" do %>
			  		<i class="fas fa-search text-center"></i>
			  	<%end%>
			  	</div>
		  	</div>
		  </div>
	</div>

			<div class="mt-2 text-white container">
					<div class = "row" style = "justify-content: center; font:white" >
						<div class="d-none d-lg-block">
						<table class="table table-sm table-borderless" >
								<% @categories.in_groups_of(3,false) do |row_categories| %>
								  <tr>
								    <% row_categories.each do |category| %>
								      <td><input type="checkbox" value = "<%=category.id%>" name = "experience[category_ids][]">
								        <span style = "font-size: 1.2em; color: white"><%=category.name%></span></td>
								    <% end %>
								  </tr>
								<% end %>
						</table>
					</div>
						<div class="d-none d-md-block d-lg-none">
						<table class="table table-sm table-borderless" >
								<% @categories.in_groups_of(2,false) do |row_categories| %>
								  <tr>
								    <% row_categories.each do |category| %>
								      <td><input type="checkbox" value = "<%=category.id%>" name = "experience[category_ids][]">
								        <span style = "font-size: 1.2em; color: white"><%=category.name%></span></td>
								    <% end %>
								  </tr>
								<% end %>
						</table>
					</div>
						<div class="d-md-none">
						<table class="table table-sm table-borderless" >
								<% @categories.in_groups_of(1,false) do |row_categories| %>
								  <tr>
								    <% row_categories.each do |category| %>
								      <td><input type="checkbox" value = "<%=category.id%>" name = "experience[category_ids][]">
								        <span style = "font-size: 1.2em; color: white"><%=category.name%></span></td>
								    <% end %>
								  </tr>
								<% end %>
						</table>
					</div>

				</div>
			</div>
		<% end %>
	</div>
</div>



	</div>
<script type="text/javascript">
	console.log('yay!')
	var backgroundArray = ["https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80", "https://images.unsplash.com/photo-1550596334-7bb40a71b6bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80","https://images.unsplash.com/photo-1548407260-da850faa41e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1187&q=80", "https://images.unsplash.com/photo-1546872823-4b0686c1908c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80","https://images.unsplash.com/photo-1546656203-d247cb1f3d0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80","https://images.unsplash.com/photo-1546411889-423f01e24850?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=940&q=80"]

	var randomNumber = Math.floor(Math.random() * backgroundArray.length);
	var background = backgroundArray[randomNumber];

	document.body.style.background = "linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(200,200,200,0.1) 100%),url("+ background +") no-repeat center center fixed"
	document.body.style["background-size"] = "cover"
	console.log('wow')
</script>
	<script type = "text/javascript">
		searchBar = document.getElementById('search_term')
		var responseHandler = function() {
		new google.maps.places.Autocomplete(searchBar, {types: ['(cities)']})
		};

		// make a new request
		var request = new XMLHttpRequest();

		// listen for the request response
		request.addEventListener("load", responseHandler);

		var url = "";
		request.open("GET", url);

		// send the request
		request.send();

	</script>

<script src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDvj3ORRNNhdf-Yv8R8AHZjqX_jHcnrxqo&&libraries=places'></script>