<h1 style = "text-align: center">Guides in <%=@parameter%></h1>

<div class = "container">
	<div class = "row">

	<div class = "col-3">
	<%= render :partial => 'search-lg' %>
	</div>

<%if @experiences.length != 0%>

	<div class = "col-9">

		<%@unique.each do |x|%>

		<div class="row border mb-3">
			<div class="col-3" style="padding:2%">
				  <% if @reviews.where(guide_id: x).average("rating") %>
                <p class="lead text-center">
                    <% average_rating = @reviews.where(guide_id: x).average("rating").round(1) %>
                    <span>Average rating: <%= average_rating %></span>
                </p>
                <p class="lead text-center text-success">
                    <% average_rating.to_i.times do %>
                        <i class="fas fa-star"></i>
                    <% end %>
                    <% (5-average_rating.to_i).times do %>
                        <i class="far fa-star"></i>
                    <% end %>
                </p>
            <% else %>
                <p class="lead text-center text-secondary">No ratings yet!</p>
            <% end %>
				</div>
	    <div class="col-6 d-flex justify-content-flex-end" style="padding:2%">
						<div>
							<h3>Name: <a class = "stretched-link btn btn-outline-success" href = "/guides/<%=x.id%>"><%=x.user.name%></a></h3>
							<h5>Experiences offered:</h5>
									<%x.experiences.each do |y|%>
									<span class="badge badge-pill badge-success"><%=y.title%></span>
									<%end%>
						</div>
				</div>
				<div class="col-3" style="padding:2%">
					<%if x.user.avatar.attached? === false%>
				    <img src = "https://dcist.com/wp-content/uploads/sites/3/2019/04/Gem2-768x689.jpg" class = "img-fluid rounded-circle"/>
				   <%else%>
				     <img src = '<%= url_for(x.user.avatar) %>' class = "img-fluid rounded-circle"/>
				   <%end%>
				</div>
		</div>
			<% end %>

	</div>
</div>
</div>


<%else%>
<div class = "col-9 mt-5 text-center">
	<div class = "alert-danger" > Sorry, no matches!</div>
</div>
<%end%>