<h1>Leave A Review for <%= @name.name %></h1>


<%= form_with scope: :review, url: guide_reviews_path , local: true do |f| %>

  <p>
    <%= f.label :Review %><br>
    <%= f.text_area :body, :class=>'form-control', :placeholder=>'Write Something Nice for your Guide ...', :required => 'true' %>
  </p>

<div id="rating-form">
<label>Rating</label>
</div>




  <%= f.hidden_field :user_id, :value => @user.id.to_i %>
  <%= f.hidden_field :guide_id, :value => @guide %>


<p>
    <%= f.submit 'Submit Review', :class=>'btn btn-primary' %>
  </p>



<script>



        $("#rating-form").raty({
          path: '/assets/',
         scoreName: 'review[rating]',
          
         size     : 24
        });
   

</script>


<% end %>