<h1>Leave A Review for <%= @name.name %></h1>


<%= form_with scope: :review, url: guide_reviews_path , local: true do |f| %>

  <p>
    <%= f.label :Review %><br>
    <%= f.text_area :body, :class=>'form-control', :placeholder=>'Write Something Nice for your Guide ...' %>
  </p>
<div class="slidecontainer text-center">
 <%= f.range_field :rating, :min=>1, :max=>5, :class=>"custom-range", :id=>"slider"%>
  <h4>Rating: <span id="demo"></span></h4>
</div>



  <%= f.hidden_field :user_id, :value => @user.id.to_i %>
  <%= f.hidden_field :guide_id, :value => @guide %>


<p>
    <%= f.submit 'Submit Review', :class=>'btn btn-primary' %>
  </p>



<script>
var slider = document.getElementById("slider");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;


}

</script>


<% end %>