<!DOCTYPE html>
<html>
  <head>
    <title>Nat Jio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
  </head>

  <body>
  	<nav class="navbar navbar-expand-sm navbar-light bg-none d-flex">
<%# if the user is not logged in, navbar will only have brand%>
		  <% if user_signed_in? %>
<%# brand %>
				<div class="navbar-brand m-0 p-0 nav-link">
			    <img src="http://logok.org/wp-content/uploads/2014/06/National-Geographic-logo-yellow-frame-880x660.png" width="40" height="40" class="d-inline-block align-top">
  				<span style="font-family: Copperplate; color: grey; font-size: 1.8rem;">Nat Jio</span>
  				<a class="dropdown-toggle d-sm-none text-secondary" data-toggle="collapse" data-target="#navbarNav"></a>
			  </div>
<%# user controls %>
			  <div class="navbar ml-auto order-sm-1">
			  	<%= current_user.name %>
			  	<%= link_to 'log out', destroy_user_session_url, method: :delete, class: "btn btn-light ml-2" %>
			  </div>
<%# dropdown nav list%>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			    	<li>
							<%= link_to("Home", '/', {:class => "nav-link"})%>
						</li>
						<li>
							<%= link_to("Search", '/travellers/findguide', {:class => "nav-link"})%>
						</li>
<%# if user is a guide, user will be able to see link to dashboard %>
						<% if current_user.guide %>
							<li>
								<%= link_to("Guide's dashboard", '/guides', {:class => "nav-link"})%>
							</li>
<%# if user is not a guide, there's a link to click in to become a guide %>
						<% else %>
				      <li class="nav-item">
				        <%= link_to("Become a guide", '/travellers/becomeaguide', {:class => "nav-link"})%>
				      </li>
						<% end %>
			    </ul>
			  </div>
			<% end %>
		</nav>

		<div class="container">
			<%= yield %>
		</div>

  </body>
</html>