<!DOCTYPE html>
<html>
  <head>
    <title>Nat Jio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-none">
<%# if the user is not logged in, navbar will only have brand%>
		  <% if user_signed_in? %>
<%# brand %>
				  <a class="navbar-brand m-0 p-0 nav-link dropdown-toggle text-secondary" data-toggle="collapse" data-target="#navbarNav">
				    <img src="http://logok.org/wp-content/uploads/2014/06/National-Geographic-logo-yellow-frame-880x660.png" width="40" height="40" class="d-inline-block align-top">
    				<span style="font-family: Copperplate; color: grey; font-size: 1.8rem;">Nat Jio</span>
				  </a>
<%# user controls %>
			  <div class="navbar ml-auto">
			  	<%= current_user.name %>
			  	<%= link_to 'log out', destroy_user_session_url, method: :delete, class: "btn btn-light ml-2" %>
			  </div><br/>
<%# dropdown nav list%>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
<%# if user is a guide, user will be able to see link to dashboard %>
						<% if current_user.guide %>
							<li>
								<%= link_to("guide dashboard", '/guides', {:class => "nav-link"})%>
							</li>
<%# if user is not a guide, there's a link to click in to become a guide %>
						<% else %>
				      <li class="nav-item">
				        <%= link_to("become a guide", '/travellers/becomeaguide', {:class => "nav-link"})%>
				      </li>
						<% end %>
			    </ul>
			  </div>
			<% end %>
		</nav>

		<div class="container">
			<%= yield %>
		</div>

  </body>
</html>